In [3]:
import pandas as pd
import numpy as np

data={"name":["张三","李四","王五"],"age":[33,18,30]}
mydata=pd.DataFrame(data)
print(mydata)

  name  age
0   张三   33
1   李四   18
2   王五   30

In [8]:
data=['张三','李四','王五','赵六']
myvar=pd.Series(data)
print(myvar)
print(myvar[1])

0    张三
1    李四
2    王五
3    赵六
dtype: object
李四

In [12]:
data=['张三','李四','王五','赵六']
myvar=pd.Series(data,index=["a",'b','c','d']) #更改索引
print(myvar)
print(myvar['c']) #通过更改后的索引打印元素

a    张三
b    李四
c    王五
d    赵六
dtype: object
王五

In [16]:
data={1:'张三',2:'李四',3:'王五',4:'赵六'} #通过字典创建Series,并更改索引
myvar1=pd.Series(data)
myvar2=pd.Series(data,index=[2,4],name='只要2和4两个') #此步可以增加index, 选择部分元素
print(myvar1)
print(myvar2)

1    张三
2    李四
3    王五
4    赵六
dtype: object
2    李四
4    赵六
Name: 只要2和4两个, dtype: object

DataFrame格式:
pd.DataFrame(data,index,columns,dtype,copy)
data: 一组数据(ndarry, Series,　map, lists, dict等)
columns: 列标题
DataFrame是一个二维的数组结构,类似二维数组.

In [17]:
#使用列表创建DataFrame

data=[['张三',10],['李四',12],['王五',15]]
df=pd.DataFrame(data,columns=['Name','Age']) #没有设置columns的话,则标题默认为0,1.....

  Name  Age
0   张三   10
1   李四   12
2   王五   15

In [22]:
# 使用字典创建DataFrame
data=[{'Name':'张三','Age':25},{'Name':'李四','Age':18},{'Name':'王五','Age':15},{'Name':'赵六','Age':28},]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

  Name  Age
0   张三   25
1   李四   18
2   王五   15
3   赵六   28

In [21]:
# 使用narray创建DataFrame, ndarray长度必须相同, 如果传递了index, 则索引的长度应等于数组的长度.
data={'Name':['张三','李四','王五','赵六'],'Age':[10,15,25,21]}
df1=pd.DataFrame(data)
df2=pd.DataFrame(data,index=['a','b','c','d'])
print(df1)
print(df2)

  Name  Age
0   张三   10
1   李四   15
2   王五   25
3   赵六   21
  Name  Age
a   张三   10
b   李四   15
c   王五   25
d   赵六   21

# CSV文件

In [30]:
# 使用loc获取指定行的数据,未指定索引的话,第一行索引为0

data={'Name':['张三','李四','王五','赵六'],'Age':[10,15,25,21]}
df=pd.DataFrame(data)
print(df.loc[0]) #获取第1行数据
print("\n")
print(df.loc[2]) #获取第3行数据
print("\n")
print(df.loc[0:2]) # 获取第1-3行数据
print("\n")
print(df.loc[[1,3]]) # 获取第2行和第4行数据

Name    张三
Age     10
Name: 0, dtype: object


Name    王五
Age     25
Name: 2, dtype: object


  Name  Age
0   张三   10
1   李四   15
2   王五   25


  Name  Age
1   李四   15
3   赵六   21

In [6]:
import pandas as pd

df=pd.read_csv("./data/nba.csv") #读取CSV文件
print(df) #返回CSV文件的前5行和后5行数据
print("\n")
print(df.head()) #head中不给数则返回CSV文件的前5行数据,设置数目则按要求返回
print("\n")
print(df.tail(3)) #tail中不给数则返回CSV文件的结尾5行数据,设置数目则按要求返回

      Rk             PLAYER POSITION  AGE  ...   PIE    PACE   W  SALARY_MILLIONS
0      1  Russell Westbrook       PG   28  ...  23.0  102.31  46            26.50
1      2       James Harden       PG   27  ...  19.0  102.98  54            26.50
2      3      Isaiah Thomas       PG   27  ...  16.1   99.84  51             6.59
3      4      Anthony Davis        C   23  ...  19.2  100.19  31            22.12
4      6   DeMarcus Cousins        C   26  ...  17.8   97.11  30            16.96
..   ...                ...      ...  ...  ...   ...     ...  ..              ...
337  466      Brice Johnson       PF   22  ...  10.8   95.72   1             1.33
338  471         Mike Tobey        C   22  ...  -1.6   91.41   0             0.07
339  475         Alonzo Gee       SF   29  ...   0.8  104.33   4             0.06
340  481     John Lucas III       PG   34  ...   7.3   94.47   3             0.98
341  482     Aaron Harrison       SG   22  ...   0.0   92.43   2             0.87

[342 rows x 38 columns]


   Rk             PLAYER POSITION  AGE  ...   PIE    PACE   W  SALARY_MILLIONS
0   1  Russell Westbrook       PG   28  ...  23.0  102.31  46            26.50
1   2       James Harden       PG   27  ...  19.0  102.98  54            26.50
2   3      Isaiah Thomas       PG   27  ...  16.1   99.84  51             6.59
3   4      Anthony Davis        C   23  ...  19.2  100.19  31            22.12
4   6   DeMarcus Cousins        C   26  ...  17.8   97.11  30            16.96

[5 rows x 38 columns]


      Rk          PLAYER POSITION  AGE  ...  PIE    PACE  W  SALARY_MILLIONS
339  475      Alonzo Gee       SF   29  ...  0.8  104.33  4             0.06
340  481  John Lucas III       PG   34  ...  7.3   94.47  3             0.98
341  482  Aaron Harrison       SG   22  ...  0.0   92.43  2             0.87

[3 rows x 38 columns]

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               342 non-null    int64
 1   PLAYER           342 non-null    object
 2   POSITION         342 non-null    object
 3   AGE              342 non-null    int64
 4   MP               342 non-null    float64
 5   FG               342 non-null    float64
 6   FGA              342 non-null    float64
 7   FG%              342 non-null    float64
 8   3P               342 non-null    float64
 9   3PA              342 non-null    float64
 10  3P%              320 non-null    float64
 11  2P               342 non-null    float64
 12  2PA              342 non-null    float64
 13  2P%              342 non-null    float64
 14  eFG%             342 non-null    float64
 15  FT               342 non-null    float64
 16  FTA              342 non-null    float64
 17  FT%              337 non-null    float64
 18  ORB              342 non-null    float64
 19  DRB              342 non-null    float64
 20  TRB              342 non-null    float64
 21  AST              342 non-null    float64
 22  STL              342 non-null    float64
 23  BLK              342 non-null    float64
 24  TOV              342 non-null    float64
 25  PF               342 non-null    float64
 26  POINTS           342 non-null    float64
 27  TEAM             342 non-null    object
 28  GP               342 non-null    int64
 29  MPG              342 non-null    float64
 30  ORPM             342 non-null    float64
 31  DRPM             342 non-null    float64
 32  RPM              342 non-null    float64
 33  WINS_RPM         342 non-null    float64
 34  PIE              342 non-null    float64
 35  PACE             342 non-null    float64
 36  W                342 non-null    int64
 37  SALARY_MILLIONS  342 non-null    float64
dtypes: float64(31), int64(4), object(3)
memory usage: 101.7+ KB
None

# Excel文件

In [13]:
import pandas as pd

df=pd.read_excel("./data/censuspopdata.xlsx")
print(df) #返回Excel文件的前5行和结尾5行数据
print("\n")
print(df.head()) #head中不给数则返回Excel文件的前5行数据,设置数目则按要求返回
print("\n")
print(df.tail(3)) #tail中不给数则返回Excel文件的结尾5行数据,设置数目则按要求返回

       CensusTract State    County  POP2010
0       1001020100    AL   Autauga     1912
1       1001020200    AL   Autauga     2170
2       1001020300    AL   Autauga     3373
3       1001020400    AL   Autauga     4386
4       1001020500    AL   Autauga    10766
...            ...   ...       ...      ...
72859  56043000200    WY  Washakie     3326
72860  56043000301    WY  Washakie     2665
72861  56043000302    WY  Washakie     2542
72862  56045951100    WY    Weston     3314
72863  56045951300    WY    Weston     3894

[72864 rows x 4 columns]


   CensusTract State   County  POP2010
0   1001020100    AL  Autauga     1912
1   1001020200    AL  Autauga     2170
2   1001020300    AL  Autauga     3373
3   1001020400    AL  Autauga     4386
4   1001020500    AL  Autauga    10766


       CensusTract State    County  POP2010
72861  56043000302    WY  Washakie     2542
72862  56045951100    WY    Weston     3314
72863  56045951300    WY    Weston     3894

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72864 entries, 0 to 72863
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CensusTract  72864 non-null  int64
 1   State        72864 non-null  object
 2   County       72864 non-null  object
 3   POP2010      72864 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.2+ MB
None

# 数据清洗

In [20]:
df=pd.read_csv("./data/nba.csv")
df.dropna() #删除包含空字段的行或列, 参数axis=0删除行,axis=1删除列.
            #how=any则一行或一列里出现任何一个NA就去掉一行或一列, how=all则一行或一列都是NA才删除行或列
# pandas把NA和n/a都当作空数据    
print(df) # 打印所有列
print(df['PLAYER'].isnull()) #判断某列数据是否为空

      Rk             PLAYER POSITION  AGE  ...   PIE    PACE   W  SALARY_MILLIONS
0      1  Russell Westbrook       PG   28  ...  23.0  102.31  46            26.50
1      2       James Harden       PG   27  ...  19.0  102.98  54            26.50
2      3      Isaiah Thomas       PG   27  ...  16.1   99.84  51             6.59
3      4      Anthony Davis        C   23  ...  19.2  100.19  31            22.12
4      6   DeMarcus Cousins        C   26  ...  17.8   97.11  30            16.96
..   ...                ...      ...  ...  ...   ...     ...  ..              ...
337  466      Brice Johnson       PF   22  ...  10.8   95.72   1             1.33
338  471         Mike Tobey        C   22  ...  -1.6   91.41   0             0.07
339  475         Alonzo Gee       SF   29  ...   0.8  104.33   4             0.06
340  481     John Lucas III       PG   34  ...   7.3   94.47   3             0.98
341  482     Aaron Harrison       SG   22  ...   0.0   92.43   2             0.87

[342 rows x 38 columns]
0      False
1      False
2      False
3      False
4      False
       ...
337    False
338    False
339    False
340    False
341    False
Name: PLAYER, Length: 342, dtype: bool